.body{font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;}
.top-bottom{border-bottom: 1px solid#e7e9fc;}
.link-container{}
.header-span{color:#2e2f42;}
.nav-list-item{font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#2e2f42;
display: flex;
align-items: center;}
.list-menu{display: flex;
gap: 40px;}
.first-link{padding: 24px 0;}
.first-link:hover{color:#404bbf;}
.first-link:focus{color:#404bbf;}
.logo{font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5;margin-right: 76px;}
.address{font-style: normal;}
.address-list{display: flex;
gap: 40px;}
.address-link{font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;}
.address-link:focus{color:#404bbf;}
.address-link:hover{color:#404bbf;}
.container{width: 1158px;
padding: 0 15px}
.onesection{background-color: #2e2f42;}
.hero{font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color:#ffffff;}
.button{background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
font-style: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:#ffffff;}
.button:focus{color:#404bbf;}
.button:hover{color:#404bbf;}
.secondsection{}
.visually-hidden{}
.secondsection-list{}
.secondsection-li{}
.secondsection-nag{font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}
.secondsection-description{font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}
.thirdsection{background-color: #F4F4FD;}
.thirdsection-nag{font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;}
.thirdsection-list{}
.thirdsection-li{background-color: #FFFFFF;}
.personel-info{}
.personal-nag{font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}
.thirdsection-description{font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}
.fourthsection{}
.fourthsection-nag{font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:#2e2f42}
.fourthsection-list{}
.fourthsection-li{}
.image-list{display: block;}
.fourthsection-app{font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42}
.app-item{}
.fourthsection-description{font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;}
.footer{background-color: #2e2f42;
    padding: 100px 0;}
.footer-span{color:#f4f4fd;}
.footer-logo{font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5;
display: inline-block;
margin-bottom: 16px;}
.footer-description{line-height: 1.5;
color:#F4F4FD;
letter-spacing: 0.02em;}